<!-- <p><%= t(:hello).capitalize %> <%= @resource.email %>!</p>

<p><%= t '.request_reset_link_msg' %></p>

<p><%= link_to t('.password_change_link'), edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>

<p><%= t '.ignore_mail_msg' %></p>
<p><%= t '.no_changes_msg' %></p> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reset Password</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <!-- Nav -->
    <div class="navBar" style="background-color: #f3f3f3; padding: 1.2rem; margin: auto; display: block; text-align: center;">
      <img src="https://s3.amazonaws.com/socialicon/logo.png">
    </div>
  <!-- Nav -->

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mt-5">Hello  <%= @resource.email %>!</h4>
        <!-- <p>Thanks for joining! we will get back to you soon with confirmation!</p> -->
        <p><%= t '.request_reset_link_msg' %></p>
        <p><%= link_to t('.password_change_link'), edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>
        <p><%= t '.ignore_mail_msg' %></p>
        <p><%= t '.no_changes_msg' %></p>
      </div>
    </div>
  </div>

  <div class="footer mt-5" style="text-align: center;padding: 1rem 0;background-color: #f3f3f3;">
    <div class="col-12">
      <p style="margin: 0;">JOIN US ON</p>
    </div>
    <div class="col-12">
      <a style="margin: 0 5px;" href="https://www.facebook.com/Arrivae-1947981418749602/" target="_blank"><i style="color: #000;" class="fa fa-facebook fa_icon_marg" aria-hidden="true"></i></a>
      <a style="margin: 0 5px;" href="https://www.linkedin.com/company/13439634/" target="_blank"><i style="color: #000;" class="fa fa-linkedin fa_icon_marg" aria-hidden="true"></i></a>
      <a style="margin: 0 5px;" href="https://www.instagram.com/arrivae/" target="_blank"><i style="color: #000;" class="fa fa-instagram fa_icon_marg" aria-hidden="true"></i></a>
      <a style="margin: 0 5px;" href="https://twitter.com/Arrivae1" target="_blank"><i style="color: #000;" class="fa fa-twitter fa_icon_marg" aria-hidden="true"></i></a>
      <a style="margin: 0 5px;" href="https://in.pinterest.com/arrivae1/" target="_blank"><i style="color: #000;" class="fa fa-pinterest-p fa_icon_marg" aria-hidden="true"></i></a>
    </div>
  </div>

</body>
</html>
