<!DOCTYPE html>
<html lang="en">
<head>
  <title>Email</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <!-- Nav -->
    <%= render("header") %>
  <!-- Nav -->

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="mt-5">Hello </h5>
        <div>
          <p>No of Clients where 40% is Approved by Finance: <%= @finance_approved_client%></p>
          <p>No of Clients for which PO has been raised: <%= @po_raised_client%></p>
          <p>No of Clients for which PO has not been raised and beyond 5 days since 40% Payment:   <%= @po_not_raised_client %></p>
          <p>No of Clients Handed Over and accepted by Category: <%= @handover_approved_client%> </p>
          <p>No of Clients where Productions Drawings are not Uploaded: <%= @not_production_drawing_client %></p>
        </div>
      </div>
    </div>
  </div>

  <%= render("footer") %>

</body>
</html>
